<template>
	<div class="container">
		<div v-for="(user, i) in users" :key="i">
			<div>
				<p @click="userPage" :data-internalid="user.user_id">
					{{ user.firstname }}
				</p>
				<p>{{ user.lastname }}</p>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'SearchDisplay',
	components: {},
	props: {
		users: Array,
	},
	methods: {
		userPage(e) {
			const user_id = e.target.dataset.internalid; //cool how elements can store hidden data!

			this.$router.push({ path: '/user/' + user_id });
		},
	},
};
</script>

<style scoped>
.container {
	color: black;
	background-color: white;
	/* margin: auto; */
	height: 1000px;
	width: 100%;
}
</style>
