<template>
	<div class="register">
		<form>
			<h1>Sign Up</h1>
			<p>It's quick & easy</p>
			<input
				required
				v-model="$store.state.registration.firstName"
				placeholder="First Name"
			/>
			<input
				required
				v-model="$store.state.registration.lastName"
				placeholder="Last Name"
			/>
			<input
				required
				v-model="$store.state.registration.email"
				placeholder="Email"
			/>
			<input
				required
				v-model="$store.state.registration.password"
				placeholder="New Password"
				type="password"
			/>

			<div>
				<label for="gender">Gender</label>
				<select
					v-model="$store.state.registration.gender"
					name="gender"
					id="gender"
				>
					<option value="male">Male</option>
					<option value="female">female</option>
				</select>
			</div>

			<div>
				<a href="/">Back to Login Page</a>
			</div>

			<button @click="handleSubmit">Sign Up</button>
		</form>
	</div>
</template>

<script>
export default {
	name: 'SignUpForm',

	//no need for state variables when using the store
	// data() {
	// 	return {
	// 		firstName: '',
	// 		lastName: '',
	// 		email: '',
	// 		password: '',
	// 		gender: '',
	// 	};
	// },
	methods: {
		async handleSubmit(e) {
			this.$store.dispatch('handleSubmit');

			this.$router.push({ name: 'Login' });
		},
	},
};
</script>

<style scoped>
.register {
	width: 50%;
	height: 50%;
	margin: 50px auto;
	border: solid;
	padding: 25px;
}
input {
	width: 500px;
	padding: 15px;
	margin: 15px;
}
select {
	width: 100px;
	padding: 15px;
	margin: 15px;
}

a {
	margin: 15px;
}

button {
	background-color: green;
	margin: 15px;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
</style>
