<template>
	<div class="button">
		<button :class="type">{{ text }}</button>
	</div>
</template>

<script>
export default {
	name: 'Button',
	props: {
		text: String,
		type: String,
	},
};
</script>

<style scoped>
.login {
	background-color: #4169e1; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.button {
	padding: 10px;
	margin: 7px;
}

.signup {
	background-color: green; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
</style>
