<template>
	<div class="form">
		<form>
			<!-- v-model has binded our state variable email to this input tag! -->
			<input v-model="$store.state.login.email" required placeholder="Email" />
			<input
				v-model="$store.state.login.password"
				required
				type="password"
				placeholder="Password"
			/>
			<Button @click="handleLogin" type="login" text="Login"></Button>
			<a href="/"> Forgot Password? </a>
		</form>
		<Button
			@click="handleSignup"
			type="signup"
			text="Create New Account"
		></Button>
		<p>Create a Page for a celebrity, band or business.</p>
	</div>
</template>

<script>
import Button from './Button.vue';

export default {
	name: 'LoginForm',
	components: { Button },

	//state variables aren't needed due to Vuex store!
	// data() {
	// 	return {
	// 		email: '',
	// 		password: '',
	// 	};
	// },
	methods: {
		handleLogin(e) {
			//call the dispatch here.
			//the dispatch makes api request for data and then calls mutation

			this.$store.dispatch('handleLogin');
			if (this.$store.state.login.loggedIn) {
				this.$router.push({ name: 'Home' });
			} else {
				this.$router.push({ name: 'Login' });
			}
		},
		handleSignup(e) {
			this.$router.push({ name: 'Registration' });
		},
	},
};
</script>

<style scoped>
.form {
	border-style: solid;
	padding: 20px;

	background-color: white;
}

input {
	width: 400px;
	padding: 10px;
	margin: 15px;
}
</style>
