<template>
	<div class="logo">
		<h1>OOSBook</h1>
		<h2>Connect with friends around the world</h2>
	</div>
</template>

<script>
export default {
	name: 'OOSBookLogo',
};
</script>

<style scoped>
.logo {
	padding-top: 100px;
}
h1 {
	color: #4169e1;
}
</style>
