<template>
	<div class="container">
		<div v-if="$route.name === 'ProfilePage'">
			<Wallpaper> </Wallpaper>
		</div>
		<WhatsOnYourMind :author="$store.state.login.firstname"> </WhatsOnYourMind>
		<div v-for="(post, i) in posts" :key="i">
			<Post
				:post_id="post.post_id"
				:user_id="post.user_id"
				:author="post.author"
				:content="post.content"
				:contentpic="post.contentpic"
				:profilepic="post.profilepic"
			>
			</Post>
		</div>
	</div>
</template>

<script>
import Post from '../shared-components/Post.vue';
import WhatsOnYourMind from '../shared-components/WhatsOnYourMind.vue';
import Wallpaper from '../ProfilePage/Wallpaper.vue';
export default {
	name: 'ContentContainer',
	components: { Post, WhatsOnYourMind, Wallpaper },
	props: {
		posts: Array,
	},
};
</script>

<style scoped>
.container {
	color: black;
	background-color: white;
	/* margin: auto; */
	height: 100%;
	width: 100%;
}
</style>
