<template>
	<button @click="handleLogout">
		<i class="fas fa-sign-out-alt fa-2x"></i>
	</button>
</template>

<script>
import Button from '../Login/Button.vue';
export default {
	name: 'LogoutIcon',
	methods: {
		handleLogout(e) {
			this.$store.dispatch('logout');
			this.$router.push({ name: 'Login' });
		},
	},
};
Button;
</script>

<style scoped></style>
