<template>
	<div id="nav">
		<div class="left">
			<OOSBookIcon> </OOSBookIcon>

			<SearchBar> </SearchBar>
		</div>

		<div class="right">
			<ProfilePageIcon :firstname="$store.state.login.firstname">
			</ProfilePageIcon>
			<MessengerIcon> </MessengerIcon>
			<NotificationsIcon></NotificationsIcon>
			<LogoutIcon> </LogoutIcon>

			<!-- <router-link to="/">Login</router-link> | -->
		</div>
	</div>
</template>

<script>
import OOSBookIcon from './OOSBookIcon.vue';
import SearchBar from './SearchBar.vue';
import ProfilePageIcon from './ProfilePageIcon.vue';
import NotificationsIcon from './NotificationsIcon.vue';
import MessengerIcon from './MessengerIcon.vue';
import LogoutIcon from './LogoutIcon.vue';
//I think it makes sense that the NavBar component is responsible for getting name of user...

export default {
	name: 'NavBar',
	components: {
		OOSBookIcon,
		SearchBar,
		ProfilePageIcon,
		NotificationsIcon,
		MessengerIcon,
		LogoutIcon,
	},
};
</script>

<style scoped>
#nav {
	background-color: cornflowerblue;
	margin: 5px;
	padding: 2px;
	border: solid;
	display: flex;
	justify-content: space-between;

	/* color: blue; */
}

.right {
	display: inline-block;
	margin: 10px;
	padding: 10px;
}
.left {
	display: inline-block;
	margin: 10px;
	padding: 10px;
}
</style>
