<template>
	<button>
		<i class="fas fa-bell fa-2x"></i>
	</button>
</template>

<script>
export default {
	name: 'NotificationsIcon',
};
</script>

<style scoped>
div {
	display: inline-block;
}
</style>
