<template>
	<i @click="handleClick()" class="fab fa-facebook-f fa-2x"></i>
	<!-- works after you add the font awesome cdn in index.html -->
</template>

<script>
export default {
	name: 'OOSBookIcon',
	methods: {
		handleClick() {
			this.$router.push({ name: 'Home' });
		},
	},
};
</script>

<style scoped>
i {
	margin: 5px;
}
</style>
