<template>
	<button @click="handleClick">
		<i class="fas fa-bell fa-2x"></i>
		<h4>{{ firstname }}</h4>
	</button>
</template>

<script>
export default {
	name: 'ProfilePageIcon',
	props: {
		firstname: String,
	},
	methods: {
		handleClick(e) {
			const id = this.$store.state.login.user_id;
			this.$router.push('/user/' + id);
		},
	},
};
</script>

<style scoped>
button {
	display: inline-flex;
}

h4 {
	margin: 10px;
}
</style>
