<template>
	<input
		v-model="$store.state.home.searchResults"
		placeholder="Search OOSBook"
		:onkeydown="search"
	/>
</template>

<script>
export default {
	name: 'SearchBar',
	methods: {
		search(e) {
			if (e.key === 'Enter') {
				if (this.$store.state.home.searchResults !== '') {
					this.$store.dispatch('submitSearch');
					this.$router.push({ name: 'Search' });
				}
			}
		},
	},
};
</script>

<style scoped>
input {
	margin: 10px;
	width: 200px;
	background: url(../../assets/search-solid.svg) no-repeat scroll 7px;
	padding-left: 30px;
	background-color: white;
}
</style>
<i class="fas fa-search"></i>
