<template>
	<div></div>
</template>

<script>
export default {
	name: 'SidePanel',
};
</script>

<style scoped>
div {
	/* background: url(../../assets/sidepanel.jpg); */
	height: 100%;
	width: 30%;
	background-color: lightblue;
}
</style>
