<template>
	<div @click="debug()" class="post">
		<div style="display:flex; padding:5px;">
			<img :src="profilepic" />
			<h3>{{ author }}</h3>
		</div>
		<p>{{ content }}</p>
		<img :src="contentpic" />

		<div v-if="$store.state.login.user_id == user_id">
			<button @click="$store.dispatch('deletePost', { post_id: post_id })">
				Delete
			</button>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Post',
	props: {
		post_id: String,
		user_id: String,
		author: String,
		content: String,
		profilepic: String,
		contentpic: String, //might be better to keep this as an src url (living in this file structure) for an img tag...
	}, //Post should be a template component that gets data from parent content containor component...
	methods: {
		debug() {
			console.log('route user_id', this.$store.state.login.user_id);
			console.log('post user_id: ', this.user_id);
		},
	},
};
</script>

<style scoped>
.post {
	border: solid;
	height: 100%;
}

.profile {
	display: inline-block;
	display: -moz-inline-box;
	*display: inline; /* For IE7 */
	zoom: 1; /* Trigger hasLayout */
	justify-content: space-around;
	text-align: center;
}
</style>
