<template>
	<div class="createPost">
		<h3>{{ author }}</h3>
		<img :src="profilepic" />
		<label for="content">Create a post:</label>

		<textarea
			name="content"
			rows="4"
			cols="50"
			required
			placeholder="What's on your mind?"
			v-model="$store.state.post.content"
		></textarea>

		<input type="file" @change="handleChange" name="contentpic" />

		<button @click="handleSubmit">Post</button>
	</div>
</template>

<script>
import axios from 'axios';
export default {
	name: 'WhatsOnYourMind',
	props: {
		author: String,
	},
	methods: {
		handleChange(e) {
			var file = e.target.files[0];

			console.log('Handling change: ', file);
			this.contentpic = file;
		},
		handleSubmit(e) {
			console.log(this.contentpic);
			console.log(this.$store.state.post.content);

			this.$store.dispatch('handlePostSubmit', {
				contentpic: this.contentpic,
				profilepic: this.profilepic,
			});
		},
		getProfilePic() {
			var url = 'http://localhost:3001/api/users/profilepic/';
			var id = this.$store.state.login.user_id;
			url += id;

			axios
				.get(url)
				.then(res => {
					// do something with res
					console.log('profile picccc', res.data);
					this.profilepic = res.data;
				})
				.catch(err => {
					console.log('Error');
					// catch error
				});
		},
	},
	data() {
		return {
			contentpic: '',
			profilepic: '',
		};
	},
	mounted() {
		this.getProfilePic();
	},
};
</script>

<style scoped>
.createPost {
	margin: 5px;
	padding: 5px;
}
</style>
