<template>
	<div class="row">
		<div class="column">
			<OOSBookLogo> </OOSBookLogo>
		</div>
		<div class="column">
			<LoginForm> </LoginForm>
		</div>
	</div>
</template>

<script>
import OOSBookLogo from '../components/Login/OOSBookLogo.vue';
import LoginForm from '../components/Login/LoginForm.vue';

export default {
	name: 'Login',
	components: {
		OOSBookLogo,
		LoginForm,
	},
};
</script>

<style scoped>
.row {
	margin-top: 10%;
	display: flex;
}

.column {
	flex: 50%;
	padding: 20px;
}
</style>
