<template>
	<div class="home">
		<NavBar> </NavBar>
		<div class="content">
			<SidePanel> </SidePanel>
			<ContentContainer
				@click="$store.dispatch('fetchMyPosts', $route.path)"
				:posts="$store.state.profile.myPosts"
			>
			</ContentContainer>
			<SidePanel> </SidePanel>
		</div>
	</div>
</template>

<script lang="ts">
//NOTE that connecting a backend and frontend is super easy.  Cuz there is no real connection to be made...  The frontend can make requests from its locahost port to the
//backend one.  But you need cors middleware to communication across origins (fronend communicating with backend)

import NavBar from '../components/Home/NavBar.vue';
import ContentContainer from '../components/Home/ContentContainer.vue';
import SidePanel from '../components/Home/SidePanel.vue';

//EVERY time a page loads it needs to get information from the backend

//Notation:  EVERY PAGE will get data from the backend and pass relevant shit to its child components
//children can then instanttiate themselves with props and also decide to do nothing or get data, etc

export default {
	name: 'ProfilePage',
	components: { NavBar, ContentContainer, SidePanel },
	methods: {},
	// mounted() {
	// 	this.$store.dispatch('fetchHomePosts');
	// },
};
</script>

<style scoped>
.content {
	display: flex;
	height: 100%;
}
</style>
