<template>
	<div>
		<SignUpForm> </SignUpForm>
	</div>
</template>

<script>
import SignUpForm from '../components/Registration/SignUpForm.vue';
export default {
	name: 'Registration',
	components: { SignUpForm },
};
</script>
