<template>
	<div class="home">
		<NavBar> </NavBar>
		<div class="content">
			<SidePanel> </SidePanel>
			<SearchDisplay :users="$store.state.home.searchedUsers"> </SearchDisplay>
			<SidePanel> </SidePanel>
		</div>
	</div>
</template>

<script lang="ts">
//NOTE that connecting a backend and frontend is super easy.  Cuz there is no real connection to be made...  The frontend can make requests from its locahost port to the
//backend one.  But you need cors middleware to communication across origins (fronend communicating with backend)

import NavBar from '../components/Home/NavBar.vue';
import SearchDisplay from '../components/SearchPage/SearchDisplay.vue';
import SidePanel from '../components/Home/SidePanel.vue';

export default {
	name: 'SearchPage',
	components: { NavBar, SearchDisplay, SidePanel },
	methods: {},
};
</script>

<style scoped>
.content {
	display: flex;
	height: 100%;
}
</style>
