<template>
	<div class="wallpaper">
		<button class="wallpaper" @click="wallpaperClick">
			<img class="profile_pic" :src="wallPaper + ''" />
			<!-- src="../../../../database/users/wall_paper/3.png" -->

			<!-- :src="wallPaper" -->
		</button>
		<div hidden>
			<input type="file" @change="wallpaperChange" ref="wallpaper" />
		</div>
		<div class="profile" style="display:flex; padding:5px;">
			<button @click="profilepicClick">
				<img class="round" :src="profilePic + ''" />
			</button>
			<h3>{{ user.firstname }} {{ user.lastname }}</h3>
			<h1>HIIII</h1>
			<h2>yee</h2>
		</div>
		<!-- src="../../../../database/users/wall_paper/3.png"  -->
		<!--   -->
		<div hidden>
			<input type="file" @change="profilepicChange" ref="profilepic" />
		</div>
		<div v-if="isFriend !== '' && !isFriend">
			<button @click="addFriend">Add as Friend</button>
		</div>
	</div>
</template>

<script>
//This component will hold name and wallpaper based on ROUTE.  if route id matches user_id then you have option
//to change things.  If not, you can add this person as a friend
import axios from 'axios';
export default {
	name: 'Wallpaper',
	methods: {
		wallpaperClick(e) {
			if (this.$store.state.login.user_id == this.$route.path.substr(6)) {
				this.$refs.wallpaper.click();
			}
		},
		wallpaperChange(e) {
			if (this.$store.state.login.user_id == this.$route.path.substr(6)) {
				var file = e.target.files[0];
				console.log('wallpaper', file);

				let data = new FormData();
				data.append('name', 'wallpaper');
				data.append('file', file);

				let config = {
					header: {
						'Content-Type': 'image/png',
					},
				};

				var id = this.$route.path.substr(6);
				var url = 'http://localhost:3001/api/users/wallpaper/';
				url += id;
				axios
					.post(url, data, config)
					.catch(err => {
						console.log('Error', err);
					})
					.then(res => {
						console.log('wallpaper added!');
					});
			}
		},
		profilepicClick(e) {
			if (this.$store.state.login.user_id == this.$route.path.substr(6)) {
				this.$refs.profilepic.click();
			}
		},
		profilepicChange(e) {
			if (this.$store.state.login.user_id == this.$route.path.substr(6)) {
				var file = e.target.files[0];
				console.log('ppppp', file);
				let data = new FormData();
				data.append('name', 'profilepic');
				data.append('file', file);

				let config = {
					header: {
						'Content-Type': 'image/png',
					},
				};
				var id = this.$route.path.substr(6);
				var url = 'http://localhost:3001/api/users/profilepic/';
				url += id;
				axios
					.post(url, data, config)
					.catch(err => {
						console.log('Error', err);
					})
					.then(res => {
						console.log('pp added!');
					});
			}
		},
		addFriend(e) {
			console.log('yeee');
			// this.$store.dispatch('addFriend', this.$route.path);
		},
		loadWallpaper() {
			var id = this.$route.path.substr(6);
			console.log(id, 'ID');
			var url = 'http://localhost:3001/api/users/wallpaperdata/';
			url += id;
			axios
				.get(url)
				.catch(err => {
					console.log('Error', err);
				})
				.then(res => {
					console.log('wallpaper data: ', res.data);
					this.user['firstname'] = res.data[0]['firstname'];
					this.user['lastname'] = res.data[0]['lastname'];
					this.wallPaper = res.data[0]['wallpaper'];
					this.profilePic = res.data[0]['profilepic'];
				});
		},
		checkFriend() {
			var friend_id = this.$route.params.id;
			var id = this.$store.state.login.user_id;
			console.log(id, 'ID');
			var url = 'http://localhost:3001/api/users/isFriends/';
			url += friend_id + '/';
			url += id;

			axios
				.get(url)
				.catch(err => {
					console.log('Error', err);
				})
				.then(res => {
					console.log('res.data', res.data);
					this.isFriend = res.data;
				});
		},
	},
	updated() {
		this.loadWallpaper();
		if (this.$store.state.login.user_id != this.$route.params.id) {
			this.checkFriend();
		}
	},
	mounted() {
		this.loadWallpaper();

		if (this.$store.state.login.user_id != this.$route.params.id) {
			this.checkFriend();
		}
	},
	data() {
		return {
			wallPaper: '',
			profilePic: '',
			user: { firstname: '', lastname: '' },
			isFriend: '',
		};
	},
};
</script>

<style scoped>
.wallpaper {
	width: 100%;
	height: 100%;
	padding: 5px;
}
.profile_pic {
	height: 250px;
	width: 100%;
}
.round {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.profile {
	display: inline-block;
	display: -moz-inline-box;
	*display: inline; /* For IE7 */
	zoom: 1; /* Trigger hasLayout */
	justify-content: space-around;
	text-align: center;
}
</style>
